/*************************** Main Styling ***************************/

html {
	height: 100%;
    margin:0;
}

body {
    background-image: url("../images/background.jpg");
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

@keyframes on-off {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/**************************** Navigation ****************************/

.navbar-default {
	background-color:transparent;
    border-bottom: none;
}

.navbar-default .navbar-nav >li >a {
    font-size:x-large;
    color:#ffffff;
    font-family: 'Cinzel', serif;
    text-align:center;
}

.navbar-default .navbar-brand:hover {
	color: #ffffff;
}

.navbar-default .navbar-brand:focus{
	color :#ffffff;
}

.navbar> .container .navbar-brand, .navbar> .container-fluid .navbar-brand {
    font-family: 'Cinzel', serif;
    font-size:x-large;
}

.nav.navbar-nav.navbar-right li a:hover {
    color:#ffffff;
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -moz-transform:scale(1.2);
}

.nav.navbar-nav.navbar-right li a:focus {
	color:#ffffff;
}

/**************************** Footer ****************************/

footer p {
    color:lightgrey;
    opacity:0.5;
    font-size:13px;
}
footer p a {
    color:lightgrey;
}

footer p a:hover {
    color:#ffffff;
}

/***************************** Home *****************************/

#homePara {
    color:#ffffff;
    font-size:60px;
    margin-top:130px;
    text-align:center;
    font-family: 'Cinzel', serif;
}

#homePara2 {
    color:#ffffff;
    font-size:40px;
    margin-top:170px;
    text-align:center;
    font-family: 'Cinzel', serif;
    animation:on-off 1.5s ease-in-out 1s infinite alternate;
}

