{% extends "layout.html" %}

{% block content %}

    <div  id="outer" class="container-fluid">
        <div class="row">

            <!-- Time Chart -->
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Goals Scored
                    </div>
                    <div class="chart-stage">
                        <div id="time-chart"> </div>
                    </div>
                </div>
            </div>
            <!-- End Of Time Chart -->

            <!-- Cards Pie Chart -->
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Red Or Yellow Cards
                    </div>
                    <div class="chart-stage">
                        <div id="Cards-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Of Cards Pie Chart -->

            <!-- Corners Pie Chart -->
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Corners Taken
                    </div>
                    <div class="chart-stage">
                        <div id="Cards-chart"></div>
                    </div>
                </div>
            </div>
            <!-- End Of Corners Pie Chart -->

            <!-- League Menu Select -->
            <div class="col-sm-8">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        League
                    </div>
                    <div class="chart-stage">
                        <div id="league-menu-select"></div>
                    </div>
                </div>
            </div>
            <!-- End Of League Menu Select -->

            <!-- Total Games Played Metric -->
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Total Games Played
                    </div>
                    <div class="chart-stage">
                        <div id="total-games-played-nd"></div>
                    </div>
                </div>
            </div>
            <!-- End Of Total Games Played Metric  -->

        </div>
    </div>


{% endblock %}